.input{
    display: flex;
    width: 90%;
    position: relative;
    align-items: center;
}

.input__box{
    width: 100%;
    border-radius: 50px;
    padding: 20px 30px;
    transition: 0.2s;

}

.input__box:focus{
    box-shadow: 0 0 10px 1000px rgba(0,0,0,0.5);

}

.input__submit{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    right: 5px;
    transition: 0.2 all;

}

.input__submit:hover{
    background-color: aqua;
}

.input__submit:active{
    transform: scale(0.8);
    box-shadow: 0 0 5px black;
}

.todos__single{
    border: 2px solid black;

}

.todos__single--text{
    display: flex;
    flex-direction: row;

}

.todos{
    display: flex;
    flex-direction: row;
}